.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    margin:-120px 50px;
  }
  
  .left-section {
    flex: 3;
    text-align: left;
  }
  
  .right-section {
    flex: 5;
    height: 50%;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  img {
  width: 65%; /* Set the width to 100% to make the image fill the container */
  height: 110%; /* Maintain the aspect ratio */
  display: block; /* Ensure the image is displayed as a block element */
  margin-top: -85px;
  border-radius: 10px;
  }
  